Repository CICE-Consortium/CICE, pull requests merged in 2018-11, with the labels that each got.

#220 Added k1 (basal stress parameter) in namelist, new machine
  cicecore/cicedynB/dynamics/ice_dyn_shared.F90
  cicecore/cicedynB/general/ice_init.F90
  configuration/scripts/cice.batch.csh
  configuration/scripts/cice.launch.csh
  configuration/scripts/ice_in
  configuration/scripts/machines/Macros.cesium_intel
  configuration/scripts/machines/env.cesium_intel
  doc/source/science_guide/sg_modelcomps.rst
  doc/source/user_guide/ug_case_settings.rst
Labels: CICEdyn

#222 Code to read new bathymetry files for basal stress parameterization.
  cicecore/cicedynB/general/ice_init.F90
  cicecore/cicedynB/infrastructure/ice_grid.F90
  configuration/scripts/ice_in
  configuration/scripts/options/set_nml.alt01
  configuration/scripts/options/set_nml.alt03
  configuration/scripts/options/set_nml.gx1
  configuration/scripts/options/set_nml.gx3
  doc/source/user_guide/ug_case_settings.rst
Labels: CICEdyn, enhancement

#241 change box to box2001 and cleanup unused variables
  cicecore/cicedynB/dynamics/ice_transport_driver.F90
  cicecore/cicedynB/general/ice_forcing.F90
  cicecore/cicedynB/general/ice_init.F90
  cicecore/cicedynB/general/ice_state.F90
  cicecore/cicedynB/general/ice_step_mod.F90
  cicecore/cicedynB/infrastructure/ice_read_write.F90
  cicecore/cicedynB/infrastructure/ice_restoring.F90
  cicecore/drivers/cesm/ice_prescribed_mod.F90
  cicecore/drivers/cice/CICE_RunMod.F90_debug
  cicecore/drivers/hadgem3/CICE_RunMod.F90
  cicecore/shared/ice_init_column.F90
  configuration/scripts/cice.batch.csh
  configuration/scripts/cice.launch.csh
  configuration/scripts/machines/Macros.badger_intel
  configuration/scripts/machines/env.badger_intel
  configuration/scripts/options/set_nml.alt04
  configuration/scripts/options/set_nml.box2001
  configuration/scripts/options/set_nml.gbox128
  configuration/scripts/options/set_nml.gbox80
  doc/source/user_guide/ug_case_settings.rst
Labels: enhancement

#245 Doc fixes and machine changes
  configuration/scripts/machines/Macros.cesium_intel
  configuration/scripts/machines/env.cesium_intel
  doc/source/science_guide/sg_modelcomps.rst
  doc/source/user_guide/ug_implementation.rst
Labels: Documentation

#261 miscellaneous updates to comment statements or machine files
  cicecore/cicedynB/dynamics/ice_dyn_eap.F90
  cicecore/drivers/cesm/CICE_copyright.txt
  cicecore/drivers/cice/CICE.F90
  cicecore/drivers/hadgem3/CICE.F90
  configuration/scripts/cice.batch.csh
  configuration/scripts/cice.launch.csh
  configuration/scripts/machines/Macros.pinto_intel
  configuration/scripts/machines/Macros.wolf_intel
  configuration/scripts/machines/env.pinto_intel
  configuration/scripts/machines/env.wolf_intel
  configuration/scripts/tests/timeseries.csh
  doc/source/intro/copyright.rst
  doc/source/user_guide/ug_testing.rst
Labels: Documentation, scripts
