Repository CICE-Consortium/CICE, pull requests merged in 2018-10, with the labels that each got.

#167 Auto validate qc
  configuration/scripts/tests/QC/cice.t-test.py
  configuration/scripts/tests/QC/compare_qc_cases.csh
  configuration/scripts/tests/QC/gen_qc_cases.csh
  doc/source/developer_guide/dg_scripts.rst
Labels: scripts, testing

#195 adding CMIP variable documentation
  doc/source/developer_guide/dg_documentation.rst
  doc/source/developer_guide/dg_driver.rst
  doc/source/developer_guide/dg_dynamics.rst
  doc/source/developer_guide/dg_scripts.rst
  doc/source/master_list.bib
  doc/source/science_guide/sg_modelcomps.rst
  doc/source/user_guide/ug_case_settings.rst
  doc/source/user_guide/ug_implementation.rst
  doc/source/user_guide/ug_running.rst
  doc/source/user_guide/ug_testing.rst
Labels: Documentation

#203 References and testing in documentation
  doc/source/cice_index.rst
  doc/source/intro/about.rst
  doc/source/master_list.bib
  doc/source/science_guide/sg_coupling.rst
  doc/source/science_guide/sg_modelcomps.rst
  doc/source/user_guide/ug_case_settings.rst
  doc/source/user_guide/ug_implementation.rst
  doc/source/user_guide/ug_testing.rst
Labels: Documentation

#207 Njeffery debug zbgc3 d
  cicecore/cicedynB/analysis/ice_history.F90
  cicecore/cicedynB/analysis/ice_history_bgc.F90
  cicecore/cicedynB/analysis/ice_history_drag.F90
  cicecore/cicedynB/analysis/ice_history_pond.F90
  cicecore/cicedynB/dynamics/ice_transport_remap.F90
  cicecore/cicedynB/general/ice_forcing_bgc.F90
  cicecore/cicedynB/general/ice_init.F90
  cicecore/cicedynB/general/ice_step_mod.F90
  cicecore/drivers/cesm/CICE_InitMod.F90
  cicecore/drivers/cice/CICE_InitMod.F90
  cicecore/drivers/hadgem3/CICE_InitMod.F90
  cicecore/shared/ice_arrays_column.F90
  cicecore/shared/ice_init_column.F90
  configuration/scripts/cice.batch.csh
  configuration/scripts/options/set_env.long
  configuration/scripts/options/set_env.medium
  configuration/scripts/options/set_env.short
  configuration/scripts/options/set_nml.bgc
  configuration/scripts/options/set_nml.bgcISPOL
  configuration/scripts/options/set_nml.bgcNICE
  configuration/scripts/options/set_nml.bgcskl
  configuration/scripts/options/set_nml.bgcsklclim
  configuration/scripts/options/set_nml.bgcz
  configuration/scripts/options/set_nml.bgczclim
  configuration/scripts/tests/base_suite.ts
  doc/source/user_guide/ug_case_settings.rst
Labels: Documentation, bug, scripts, testing
