Repository CICE-Consortium/CICE, pull requests merged in 2019-08, with the labels that each got.

#336 Add checks for circular dependencies in cice.build
  configuration/scripts/cice.build
  doc/source/developer_guide/dg_scripts.rst
  doc/source/intro/quickstart.rst
  doc/source/user_guide/ug_running.rst
  doc/source/user_guide/ug_troubleshooting.rst
Labels: Priority: Low, Scripts, Type: Feature

#331 Initialize revp stresses to previous time step
  cicecore/cicedynB/dynamics/ice_dyn_shared.F90
  configuration/scripts/cice.batch.csh
  configuration/scripts/cice.launch.csh
  configuration/scripts/machines/Macros.brooks_intel
  configuration/scripts/machines/env.brooks_intel
  doc/source/science_guide/sg_dynamics.rst
Labels: Dynamics, Priority: High, Type: Bug

#351 badger machine files to use LANL IC netcdf libraries
  configuration/scripts/machines/Macros.badger_intel
  configuration/scripts/machines/env.badger_intel
Labels: Scripts

#323 Local Solar Time Computation
  cicecore/cicedynB/general/ice_forcing.F90
Labels: Forcing, Priority: Medium, Testing

#358 Refactor boxslotcyl advection test to use icepack parameters
  cicecore/cicedynB/general/ice_init.F90
  doc/source/user_guide/ug_testing.rst
Labels: Priority: High
