Repository CICE-Consortium/CICE, pull requests merged in 2020-04, with the labels that each got.

#425 HYCOM forcing: follow HYCOM notation: ewndsp,nwndsp --> wndewd,wndnwd
  cicecore/cicedynB/general/ice_forcing.F90
Labels: Forcing

#427 Jedi DA modifications
  cicecore/cicedynB/dynamics/ice_transport_driver.F90
  cicecore/cicedynB/general/ice_forcing.F90
  cicecore/cicedynB/general/ice_forcing_bgc.F90
  cicecore/cicedynB/infrastructure/comm/mpi/ice_boundary.F90
  cicecore/cicedynB/infrastructure/ice_blocks.F90
  cicecore/cicedynB/infrastructure/ice_restoring.F90
  cicecore/shared/ice_distribution.F90
  cicecore/shared/ice_fileunits.F90
Labels: Data Assimilation, Priority: Medium

#431 Secure, that best guess for max_blocks is always >= 1
  cicecore/cicedynB/infrastructure/ice_domain.F90
Labels: Priority: Medium, Software Engineering

#428 update test reporting
  cice.setup
  configuration/scripts/cice.test.setup.csh
  configuration/scripts/tests/report_results.csh
  configuration/scripts/tests/test_logbfb.script
  configuration/scripts/tests/test_restart.script
  configuration/scripts/tests/test_smoke.script
  doc/source/user_guide/ug_testing.rst
Labels: Priority: Medium, Scripts, Testing, Type: Feature

#432 Update cori batch setup
  configuration/scripts/cice.batch.csh
Labels: Porting, Priority: Medium

#434 Add Code Coverage Capability
  .travis.yml
  README.md
  cice.setup
  codecov.yml
  configuration/scripts/cice.build
  configuration/scripts/cice.settings
  configuration/scripts/machines/Macros.gaffney_gnu
  configuration/scripts/machines/Macros.gordon_gnu
  configuration/scripts/machines/Macros.izumi_gnu
  configuration/scripts/machines/Macros.onyx_gnu
  configuration/scripts/machines/Macros.travisCI_gnu
  configuration/scripts/tests/nothread_suite.ts
  configuration/scripts/tests/report_results.csh
  doc/source/user_guide/ug_testing.rst
Labels: Priority: Low, Scripts, Testing, Type: Feature
