Repository CICE-Consortium/CICE, pull requests merged in 2020-07, with the labels that each got.

#479 CICE addition of fswthru by components.
  cicecore/cicedynB/general/ice_flux.F90
  cicecore/cicedynB/general/ice_step_mod.F90
  cicecore/drivers/nuopc/cmeps/ice_import_export.F90
  cicecore/drivers/standalone/cice/CICE_RunMod.F90
  cicecore/shared/ice_arrays_column.F90
  cicecore/shared/ice_init_column.F90
  doc/source/cice_index.rst
Labels: Analysis, Drivers/coupling, Priority: High, Type: Feature

#488 move Ktens out of basalstress conditional in diagnostic output
  cicecore/cicedynB/general/ice_init.F90
Labels: Documentation, Type: Feature

#487 clarify CICE citation info in doc
  doc/source/intro/citing.rst
Labels: Documentation, Priority: Medium

#490 Update CPP implementation
  cicecore/cicedynB/general/ice_forcing.F90
  cicecore/cicedynB/general/ice_forcing_bgc.F90
  cicecore/cicedynB/general/ice_init.F90
  cicecore/cicedynB/infrastructure/comm/mpi/ice_communicate.F90
  cicecore/cicedynB/infrastructure/comm/mpi/ice_gather_scatter.F90
  cicecore/cicedynB/infrastructure/comm/mpi/ice_reprosum.F90
  cicecore/cicedynB/infrastructure/comm/serial/ice_communicate.F90
  cicecore/cicedynB/infrastructure/comm/serial/ice_reprosum.F90
  cicecore/cicedynB/infrastructure/ice_domain.F90
  cicecore/cicedynB/infrastructure/ice_grid.F90
  cicecore/cicedynB/infrastructure/ice_read_write.F90
  cicecore/cicedynB/infrastructure/io/io_netcdf/ice_history_write.F90
  cicecore/cicedynB/infrastructure/io/io_netcdf/ice_restart.F90
  cicecore/cicedynB/infrastructure/io/io_pio2/ice_history_write.F90
  cicecore/cicedynB/infrastructure/io/io_pio2/ice_restart.F90
  cicecore/drivers/direct/hadgem3/CICE.F90
  cicecore/drivers/direct/hadgem3/CICE_InitMod.F90
  cicecore/drivers/mct/cesm1/CICE_InitMod.F90
  cicecore/drivers/nuopc/dmi/CICE.F90
  cicecore/drivers/nuopc/dmi/CICE_InitMod.F90
  cicecore/drivers/standalone/cice/CICE.F90
  cicecore/drivers/standalone/cice/CICE_InitMod.F90
  configuration/scripts/cice.build
  configuration/scripts/forapps/ufs/comp_ice.backend.libcice
  configuration/scripts/ice_in
  doc/source/cice_index.rst
  doc/source/user_guide/ug_case_settings.rst
  doc/source/user_guide/ug_implementation.rst
  doc/source/user_guide/ug_running.rst
Labels: Build, Documentation, Priority: Medium

#496 Remove "coupled" CPP flag, add ssh_stress namelist
  cicecore/cicedynB/dynamics/ice_dyn_shared.F90
  cicecore/cicedynB/general/ice_init.F90
  cicecore/cicedynB/infrastructure/comm/serial/ice_communicate.F90
  cicecore/drivers/direct/hadgem3/CICE_FinalMod.F90
  cicecore/drivers/direct/hadgem3/CICE_InitMod.F90
  cicecore/drivers/direct/hadgem3/CICE_RunMod.F90
  cicecore/drivers/mct/cesm1/CICE_FinalMod.F90
  cicecore/drivers/mct/cesm1/CICE_InitMod.F90
  cicecore/drivers/mct/cesm1/CICE_RunMod.F90
  cicecore/drivers/nuopc/cmeps/CICE_FinalMod.F90
  cicecore/drivers/standalone/cice/CICE_FinalMod.F90
  cicecore/drivers/standalone/cice/CICE_InitMod.F90
  cicecore/drivers/standalone/cice/CICE_RunMod.F90
  cicecore/drivers/standalone/cice/CICE_RunMod.F90_debug
  configuration/scripts/ice_in
  doc/source/user_guide/ug_case_settings.rst
Labels: Build, Drivers/coupling

#494 Add support for .cice_set, git clone --depth=1, atmbndy namelist output, script warning messages for --set conflicts
  cice.setup
  cicecore/cicedynB/general/ice_init.F90
  configuration/scripts/parse_namelist.sh
  configuration/scripts/parse_settings.sh
  configuration/scripts/tests/cice.lcov.csh
  configuration/scripts/tests/cice_test_codecov.csh
  configuration/scripts/tests/report_results.csh
  doc/source/user_guide/ug_running.rst
  doc/source/user_guide/ug_testing.rst
Labels: Priority: Low, Scripts, Type: Feature

#495 Send broadband fswthrun by categories to coupler.
  cicecore/cicedynB/general/ice_flux.F90
  cicecore/cicedynB/general/ice_step_mod.F90
Labels: Drivers/coupling, Type: Feature
