Repository CICE-Consortium/CICE, pull requests merged in 2020-09, with the labels that each got.

#491 dynamics: add implicit VP solver
  cicecore/cicedynB/dynamics/ice_dyn_eap.F90
  cicecore/cicedynB/dynamics/ice_dyn_evp.F90
  cicecore/cicedynB/dynamics/ice_dyn_evp_1d.F90
  cicecore/cicedynB/dynamics/ice_dyn_shared.F90
  cicecore/cicedynB/dynamics/ice_dyn_vp.F90
  cicecore/cicedynB/general/ice_init.F90
  cicecore/cicedynB/general/ice_step_mod.F90
  cicecore/cicedynB/infrastructure/comm/mpi/ice_global_reductions.F90
  cicecore/cicedynB/infrastructure/comm/serial/ice_global_reductions.F90
  cicecore/cicedynB/infrastructure/ice_grid.F90
  cicecore/drivers/direct/hadgem3/CICE_InitMod.F90
  cicecore/drivers/mct/cesm1/CICE_InitMod.F90
  cicecore/drivers/nuopc/cmeps/CICE_InitMod.F90
  cicecore/drivers/nuopc/dmi/CICE_InitMod.F90
  cicecore/drivers/standalone/cice/CICE_InitMod.F90
  cicecore/shared/ice_fileunits.F90
  configuration/scripts/ice_in
  configuration/scripts/machines/Macros.cesium_intel
  configuration/scripts/machines/Macros.conda_linux
  configuration/scripts/machines/Macros.conda_macos
  configuration/scripts/machines/environment.yml
  configuration/scripts/options/set_env.lapack
  configuration/scripts/options/set_nml.diagimp
  configuration/scripts/options/set_nml.dynanderson
  configuration/scripts/options/set_nml.dynpicard
  configuration/scripts/options/set_nml.nonlin5000
  configuration/scripts/options/set_nml.run3dt
  configuration/scripts/tests/base_suite.ts
  doc/source/cice_index.rst
  doc/source/developer_guide/dg_driver.rst
  doc/source/developer_guide/dg_dynamics.rst
  doc/source/master_list.bib
  doc/source/science_guide/sg_dynamics.rst
  doc/source/user_guide/ug_case_settings.rst
Labels: Dynamics, Type: Feature

#515 Update calls to scale_fluxes in all drivers
  cicecore/drivers/direct/hadgem3/CICE_RunMod.F90
  cicecore/drivers/mct/cesm1/CICE_RunMod.F90
  cicecore/drivers/nuopc/dmi/CICE_RunMod.F90
  cicecore/drivers/standalone/cice/CICE_RunMod.F90
  cicecore/drivers/standalone/cice/CICE_RunMod.F90_debug
Labels: Drivers/coupling, Priority: Medium

#517 Fix maskhalo bug in dynamics
  cicecore/cicedynB/dynamics/ice_dyn_eap.F90
  cicecore/cicedynB/dynamics/ice_dyn_evp.F90
  cicecore/cicedynB/dynamics/ice_dyn_vp.F90
Labels: Dynamics, Priority: High, Type: Bug
