Repository CICE-Consortium/CICE, pull requests merged in 2021-08, with the labels that each got.

#568 Bug fixed 1d evp
  cicecore/cicedynB/dynamics/ice_dyn_evp.F90
  cicecore/cicedynB/dynamics/ice_dyn_evp_1d.F90
  cicecore/cicedynB/dynamics/ice_dyn_shared.F90
  cicecore/cicedynB/general/ice_init.F90
  cicecore/cicedynB/infrastructure/comm/mpi/ice_boundary.F90
  cicecore/cicedynB/infrastructure/comm/mpi/ice_gather_scatter.F90
  cicecore/cicedynB/infrastructure/comm/serial/ice_boundary.F90
  cicecore/cicedynB/infrastructure/comm/serial/ice_gather_scatter.F90
  cicecore/cicedynB/infrastructure/ice_grid.F90
  configuration/scripts/ice_in
  configuration/scripts/options/set_nml.alt04
  configuration/scripts/options/set_nml.evp1d
  configuration/scripts/options/set_nml.kevp102
  configuration/scripts/tests/base_suite.ts
  doc/source/developer_guide/dg_dynamics.rst
  doc/source/developer_guide/dg_forcing.rst
  doc/source/science_guide/sg_dynamics.rst
  doc/source/user_guide/ug_case_settings.rst
Labels: Type: Bug, Software Engineering, Dynamics

#624 Fix QC test, fix bug in history time axis, fix history output averaging for timestep output
  cicecore/cicedynB/analysis/ice_history.F90
  cicecore/cicedynB/analysis/ice_history_shared.F90
  cicecore/cicedynB/general/ice_init.F90
  cicecore/cicedynB/infrastructure/ice_read_write.F90
  cicecore/cicedynB/infrastructure/io/io_netcdf/ice_history_write.F90
  cicecore/cicedynB/infrastructure/io/io_pio2/ice_history_write.F90
  cicecore/drivers/unittest/bcstchk/bcstchk.F90
  cicecore/drivers/unittest/calchk/calchk.F90
  cicecore/drivers/unittest/helloworld/helloworld.F90
  cicecore/drivers/unittest/sumchk/sumchk.F90
  cicecore/shared/ice_calendar.F90
  configuration/scripts/options/set_nml.histinst
  configuration/scripts/options/set_nml.qc
  configuration/scripts/options/set_nml.run10year
  configuration/scripts/tests/QC/cice.t-test.py
  configuration/scripts/tests/base_suite.ts
  configuration/scripts/tests/comparelog.csh
  configuration/scripts/tests/io_suite.ts
  configuration/scripts/tests/prod_suite.ts
  doc/source/user_guide/ug_testing.rst
  doc/source/user_guide/ug_troubleshooting.rst
Labels: Testing, IO

#628 Fix history single/double precision issues
  cicecore/cicedynB/analysis/ice_history.F90
  cicecore/cicedynB/infrastructure/io/io_netcdf/ice_history_write.F90
  cicecore/cicedynB/infrastructure/io/io_pio2/ice_history_write.F90
  cicecore/cicedynB/infrastructure/io/io_pio2/ice_pio.F90
  cicecore/cicedynB/infrastructure/io/io_pio2/ice_restart.F90
Labels: Type: Bug, IO
