Repository CICE-Consortium/CICE, pull requests merged in 2021-07, with the labels that each got.

#610 Fix history and restart frequency, new features to scripts
  cice.setup
  cicecore/cicedynB/general/ice_init.F90
  cicecore/cicedynB/infrastructure/comm/mpi/ice_exit.F90
  cicecore/cicedynB/infrastructure/comm/serial/ice_exit.F90
  cicecore/drivers/unittest/bcstchk/bcstchk.F90
  cicecore/drivers/unittest/calchk/calchk.F90
  cicecore/drivers/unittest/sumchk/CICE_FinalMod.F90
  cicecore/drivers/unittest/sumchk/sumchk.F90
  cicecore/shared/ice_calendar.F90
  configuration/scripts/ice_in
  configuration/scripts/options/set_nml.alt01
  configuration/scripts/options/set_nml.alt02
  configuration/scripts/options/set_nml.alt03
  configuration/scripts/options/set_nml.alt04
  configuration/scripts/options/set_nml.alt05
  configuration/scripts/options/set_nml.alt06
  configuration/scripts/options/set_nml.box2001
  configuration/scripts/options/set_nml.boxadv
  configuration/scripts/options/set_nml.boxnodyn
  configuration/scripts/options/set_nml.boxrestore
  configuration/scripts/options/set_nml.boxslotcyl
  configuration/scripts/options/set_nml.gx1prod
  configuration/scripts/options/set_nml.histall
  configuration/scripts/options/set_nml.icdefault
  configuration/scripts/options/set_nml.icnone
  configuration/scripts/options/set_nml.zsal
  configuration/scripts/options/test_nml.restart1
  configuration/scripts/options/test_nml.restart2
  configuration/scripts/tests/test_decomp.script
  configuration/scripts/tests/test_logbfb.script
  configuration/scripts/tests/test_smoke.script
  configuration/scripts/tests/test_unittest.script
  doc/source/cice_index.rst
  doc/source/user_guide/ug_case_settings.rst
  doc/source/user_guide/ug_implementation.rst
Labels: Documentation, IO, Scripts

#616 New fig for Bgrid + minor modifs to comments and doc
  cicecore/cicedynB/dynamics/ice_dyn_eap.F90
  cicecore/cicedynB/dynamics/ice_dyn_evp.F90
  cicecore/cicedynB/dynamics/ice_dyn_shared.F90
  cicecore/cicedynB/dynamics/ice_dyn_vp.F90
  cicecore/cicedynB/infrastructure/ice_grid.F90
  doc/source/user_guide/figures/CICE_Bgrid.png
  doc/source/user_guide/ug_implementation.rst
Labels: Documentation

#617 Update Onyx port, update unit test output
  cicecore/drivers/unittest/bcstchk/bcstchk.F90
  cicecore/drivers/unittest/calchk/calchk.F90
  cicecore/drivers/unittest/helloworld/helloworld.F90
  cicecore/drivers/unittest/sumchk/sumchk.F90
  configuration/scripts/cice.run.setup.csh
  configuration/scripts/machines/Macros.onyx_cray
  configuration/scripts/machines/Macros.onyx_gnu
  configuration/scripts/machines/env.onyx_cray
  configuration/scripts/machines/env.onyx_gnu
  configuration/scripts/machines/env.onyx_intel
  configuration/scripts/tests/test_unittest.script
  doc/source/user_guide/ug_testing.rst
Labels: Porting, Testing

#618 Fix 1x1 and 2x2 blocksize error
  cicecore/cicedynB/analysis/ice_diagnostics.F90
  cicecore/cicedynB/infrastructure/comm/mpi/ice_gather_scatter.F90
  cicecore/cicedynB/infrastructure/comm/serial/ice_gather_scatter.F90
  cicecore/cicedynB/infrastructure/ice_domain.F90
  configuration/scripts/tests/reprosum_suite.ts
Labels: Software Engineering, Testing, Type: Bug
