Repository CICE-Consortium/CICE, pull requests merged in 2022-11, with the labels that each got.

#781 Port to gust intel and cray
  cicecore/cicedynB/dynamics/ice_transport_remap.F90
  configuration/scripts/cice.batch.csh
  configuration/scripts/cice.launch.csh
  configuration/scripts/machines/Macros.gust_cray
  configuration/scripts/machines/Macros.gust_intel
  configuration/scripts/machines/env.badger_intel
  configuration/scripts/machines/env.banting_gnu
  configuration/scripts/machines/env.banting_intel
  configuration/scripts/machines/env.cheyenne_gnu
  configuration/scripts/machines/env.cheyenne_intel
  configuration/scripts/machines/env.cheyenne_pgi
  configuration/scripts/machines/env.compy_intel
  configuration/scripts/machines/env.conda_linux
  configuration/scripts/machines/env.conda_macos
  configuration/scripts/machines/env.cori_intel
  configuration/scripts/machines/env.daley_gnu
  configuration/scripts/machines/env.daley_intel
  configuration/scripts/machines/env.fram_intel
  configuration/scripts/machines/env.freya_gnu
  configuration/scripts/machines/env.freya_intel
  configuration/scripts/machines/env.gaea_intel
  configuration/scripts/machines/env.gaffney_gnu
  configuration/scripts/machines/env.gaffney_intel
  configuration/scripts/machines/env.gust_cray
  configuration/scripts/machines/env.gust_intel
  configuration/scripts/machines/env.hera_intel
  configuration/scripts/machines/env.high_Sierra_gnu
  configuration/scripts/machines/env.hobart_intel
  configuration/scripts/machines/env.hobart_nag
  configuration/scripts/machines/env.izumi_gnu
  configuration/scripts/machines/env.izumi_intel
  configuration/scripts/machines/env.izumi_nag
  configuration/scripts/machines/env.izumi_pgi
  configuration/scripts/machines/env.koehr_intel
  configuration/scripts/machines/env.mustang_intel18
  configuration/scripts/machines/env.mustang_intel19
  configuration/scripts/machines/env.mustang_intel20
  configuration/scripts/machines/env.narwhal_aocc
  configuration/scripts/machines/env.narwhal_cray
  configuration/scripts/machines/env.narwhal_gnu
  configuration/scripts/machines/env.narwhal_intel
  configuration/scripts/machines/env.narwhal_intelhpcx
  configuration/scripts/machines/env.nrlssc_gnu
  configuration/scripts/machines/env.onyx_cray
  configuration/scripts/machines/env.onyx_gnu
  configuration/scripts/machines/env.onyx_intel
  configuration/scripts/machines/env.orion_intel
  configuration/scripts/machines/env.phase3_intel
  configuration/scripts/machines/env.testmachine_intel
  configuration/scripts/machines/env.travisCI_gnu
Labels: Porting

#784 Update KE diagnostic
  cicecore/cicedynB/analysis/ice_diagnostics.F90
  cicecore/cicedynB/general/ice_state.F90
  cicecore/cicedynB/general/ice_step_mod.F90
  cicecore/cicedynB/infrastructure/ice_grid.F90
  cicecore/cicedynB/infrastructure/ice_restart_driver.F90
Labels: Analysis

#785 CESM Updates
  cicecore/drivers/nuopc/cmeps/ice_comp_nuopc.F90
  cicecore/drivers/nuopc/cmeps/ice_import_export.F90
  cicecore/drivers/nuopc/cmeps/ice_mesh_mod.F90
Labels: Drivers/coupling

#778 allocate c and cd var in evp, reduce number of "if grid_ice".
  cicecore/cicedynB/dynamics/ice_dyn_eap.F90
  cicecore/cicedynB/dynamics/ice_dyn_evp.F90
  cicecore/cicedynB/dynamics/ice_dyn_shared.F90
  cicecore/cicedynB/dynamics/ice_dyn_vp.F90
  cicecore/cicedynB/infrastructure/ice_restart_driver.F90
  cicecore/cicedynB/infrastructure/io/io_pio2/ice_restart.F90
  cicecore/drivers/direct/hadgem3/CICE_InitMod.F90
  cicecore/drivers/direct/nemo_concepts/CICE_InitMod.F90
  cicecore/drivers/mct/cesm1/CICE_InitMod.F90
  cicecore/drivers/nuopc/cmeps/CICE_InitMod.F90
  cicecore/drivers/nuopc/dmi/CICE_InitMod.F90
  cicecore/drivers/standalone/cice/CICE_InitMod.F90
  cicecore/drivers/unittest/gridavgchk/CICE_InitMod.F90
  cicecore/drivers/unittest/sumchk/CICE_InitMod.F90
  configuration/scripts/options/set_nml.dyneap
Labels: Software Engineering, Dynamics
