Repository CICE-Consortium/CICE, pull requests merged in 2023-07, with the labels that each got.

#839 Namelist option for time axis position.
  cicecore/cicedyn/analysis/ice_history_shared.F90
  cicecore/cicedyn/general/ice_init.F90
  cicecore/cicedyn/infrastructure/io/io_netcdf/ice_history_write.F90
  cicecore/cicedyn/infrastructure/io/io_pio2/ice_history_write.F90
  configuration/scripts/ice_in
  doc/source/cice_index.rst
  doc/source/user_guide/ug_case_settings.rst
  doc/source/user_guide/ug_implementation.rst
Labels: IO

#843 Add support for JRA55do
  cicecore/cicedyn/general/ice_forcing.F90
  cicecore/cicedyn/infrastructure/io/io_netcdf/ice_history_write.F90
  cicecore/cicedyn/infrastructure/io/io_pio2/ice_history_write.F90
  configuration/scripts/cice.batch.csh
  configuration/scripts/cice.launch.csh
  configuration/scripts/machines/Macros.derecho_intel
  configuration/scripts/machines/Macros.onyx_intel
  configuration/scripts/machines/env.derecho_intel
  configuration/scripts/machines/env.nrlssc_gnu
  configuration/scripts/machines/env.onyx_cray
  configuration/scripts/machines/env.onyx_gnu
  configuration/scripts/machines/env.onyx_intel
  configuration/scripts/options/set_nml.gx1
  configuration/scripts/options/set_nml.gx3
  configuration/scripts/options/set_nml.gx3ncarbulk
  configuration/scripts/options/set_nml.jra55
  configuration/scripts/options/set_nml.jra55do
  configuration/scripts/options/set_nml.tx1
  configuration/scripts/tests/base_suite.ts
  doc/source/developer_guide/dg_forcing.rst
  doc/source/developer_guide/dg_tools.rst
  doc/source/user_guide/ug_case_settings.rst
Labels: Forcing

#833 Modification of edge mask computation when l_fixed_area=T in horizontal remapping
  cicecore/cicedyn/dynamics/ice_transport_driver.F90
  cicecore/cicedyn/dynamics/ice_transport_remap.F90
  cicecore/cicedyn/general/ice_init.F90
  doc/source/science_guide/sg_horiztrans.rst
Labels: Dynamics
