Repository CICE-Consortium/CICE, pull requests merged in 2023-03, with the labels that each got.

#817 doc, ice_history: correct units for 'sigP' and improve doc for stress variables
  cicecore/cicedyn/analysis/ice_history.F90
  doc/source/cice_index.rst
  doc/source/conf.py
  doc/source/science_guide/sg_dynamics.rst
  doc/source/user_guide/ug_implementation.rst
Labels: Analysis, Documentation

#818 cicecore: correct initial condition metadata
  cicecore/cicedyn/infrastructure/io/io_binary/ice_history_write.F90
  cicecore/cicedyn/infrastructure/io/io_netcdf/ice_history_write.F90
  cicecore/cicedyn/infrastructure/io/io_pio2/ice_history_write.F90
  cicecore/drivers/direct/nemo_concepts/CICE_InitMod.F90
  cicecore/drivers/standalone/cice/CICE_InitMod.F90
Labels: Analysis, IO

#820 Add haloupdate unit test
  cicecore/cicedyn/infrastructure/comm/mpi/ice_boundary.F90
  cicecore/cicedyn/infrastructure/comm/serial/ice_boundary.F90
  cicecore/cicedyn/infrastructure/ice_grid.F90
  cicecore/drivers/unittest/halochk/CICE_InitMod.F90
  cicecore/drivers/unittest/halochk/halochk.F90
  cicecore/shared/ice_constants.F90
  configuration/scripts/Makefile
  configuration/scripts/cice_decomp.csh
  configuration/scripts/options/set_env.halochk
  configuration/scripts/options/set_nml.cyclic
  configuration/scripts/options/set_nml.open
  configuration/scripts/options/set_nml.tripole
  configuration/scripts/options/set_nml.tripolet
  configuration/scripts/tests/unittest_suite.ts
  doc/source/user_guide/ug_implementation.rst
  doc/source/user_guide/ug_testing.rst
Labels: Software Engineering, Testing

#822 Fix readthedocs pdf, update documentation
  doc/source/science_guide/sg_dynamics.rst
Labels: Documentation
