Repository CICE-Consortium/CICE, pull requests merged in 2024-08, with the labels that each got.

#966 Confirm backward compatibility for PIO reads on non-parallel files
  cicecore/cicedyn/infrastructure/io/io_pio2/ice_pio.F90
  cicecore/cicedyn/infrastructure/io/io_pio2/ice_restart.F90
Labels: IO

#969 Write restart at end of run via NUOPC component attribute & Initialize cpl_scalar field when created for UFS
  cicecore/drivers/nuopc/cmeps/cice_wrapper_mod.F90
  cicecore/drivers/nuopc/cmeps/ice_comp_nuopc.F90
  cicecore/drivers/nuopc/cmeps/ice_import_export.F90
Labels: Drivers/coupling

#964 Enable prescribed ice for UFS
  cicecore/drivers/nuopc/cmeps/CICE_RunMod.F90
  cicecore/drivers/nuopc/cmeps/ice_comp_nuopc.F90
  cicecore/drivers/nuopc/cmeps/ice_prescribed_mod.F90
Labels: Forcing, Drivers/coupling
