Repository CICE-Consortium/CICE, pull requests merged in 2024-10, with the labels that each got.

#980 No ncat,ntrcr in call icepack_aggregate in ice_prescribed_mod.F90
  cicecore/drivers/mct/cesm1/ice_prescribed_mod.F90
  cicecore/drivers/nuopc/cmeps/ice_prescribed_mod.F90
Labels: Icepack, Drivers/coupling

#981 These reduce some of the prints in shr_orbital.
  cicecore/drivers/nuopc/cmeps/ice_comp_nuopc.F90
Labels: Drivers/coupling

#984 This adds additional write restart at end of run functionality.
  cicecore/cicedyn/infrastructure/io/io_pio2/ice_restart.F90
  cicecore/drivers/nuopc/cmeps/ice_comp_nuopc.F90
  cicecore/drivers/nuopc/cmeps/ice_shr_methods.F90
Labels: Drivers/coupling, IO
